<!doctype html>
<html>
    <head>
        <title>Full Stack Viewer</title>
    </head>

    <body>

        Z:
        <input id="zslider" type="range" min='0' />
        <span id='theZ'>0</span>

        |

        zoom:
        <input id="zoomslider" type="range" min='10' max='500' value='100' />
        <span id='zoom'>100</span> %
        <br>

        <canvas id="canvas">
        </canvas>


        <script src="/static/webtest/js/util.js"></script>
        <script src="/static/webtest/js/multiPlaneImage.js"></script>
        <script src="/static/webtest/js/multi_plane_stack.js"></script>
    </body>
</html>
