<!doctype html>
<!-- See discussion at https://www.openmicroscopy.org/community/viewtopic.php?f=6&t=8058&p=17114 -->
<html>
<head>

    <link href="https://cowfish.openmicroscopy.org/webmerge/static/omeroweb.viewer.min.css" type="text/css" rel="stylesheet"></link>

    <script src="https://cowfish.openmicroscopy.org/webmerge/static/omeroweb.viewer.min.js" type="text/javascript"></script>

    <style type="text/css">
    .viewport {
        height: 400px;
        width: 500px;
    }
    .thumbList {
        width: 500px;
        float: left;
        margin: 20px;
    }
    </style>

    <script>

        var _imageLoad = function (ev, viewport) {

            /**
             * This function is called when an image is initially loaded.
             * This is the place to sync everything; rendering model, quality, channel buttons, etc.
             */

            /* load metadata */
            $('#image-name').html(viewport.loadedImg.meta.imageName);

            /**
             * Load channels and create buttons
             */
             $('#viewport-channels-box').empty();
            var channels = viewport.getChannels();
            for (i in channels) {
                $('#viewport-channels-box').append('<button id="viewer-ch-' + i + '"\
                    class="squared' + (channels[i].active ? ' pressed' : '') + '"\
                    style="background-color: #' + channels[i].color + '"\
                    title="' + channels[i].label + '">' + channels[i].label + '</button>');
            }
        }




        $(function(){
            /* Prepare the viewport */
            var viewport = $.WeblitzViewport($("#viewport"), "https://nightshade.openmicroscopy.org/webgateway/", {
                'mediaroot': "https://cowfish.openmicroscopy.org/webmerge/static/"
            });
            viewport.bind('imageLoad', _imageLoad);

            // viewport.bind('imageLoad', function(){
            //     viewport.toggleChannel("1");
            // });

            /* Load the selected image into the viewport */
            viewport.load(3933597);


            $(".thumb").click(function(){
                var iid = $(this).attr('data-id');
                iid = parseInt(iid);
                viewport.load(iid);
            });

            $("#viewport-channels-box").on("click", "button", function(e) {
                viewport.toggleChannel(e.target.id.split("-")[2]);
                $(this).toggleClass("pressed");
            });

        });
    </script>
</head>

<body>
    <h1 id="image-name"></h1>
    <div class="thumbList" style="float:left">
        <div id="viewport" class="viewport"></div>
    </div>
    <div class="thumbList">
        <div id="viewport-channels-box"></div>
    </div>

    <div style="clear: both; height:40px"></div>
    
    <div class="thumbList">
        <img class="thumb" data-id="3933597" src="https://nightshade.openmicroscopy.org/webgateway/render_thumbnail/3933597/96/"/>

        <img id="bigimageThumb" class="thumb" data-id="3946830" src="https://nightshade.openmicroscopy.org/webgateway/render_thumbnail/3946830/96/"/>

        <img id="smallimageThumb" class="thumb" data-id="3925542" src="https://nightshade.openmicroscopy.org/webgateway/render_thumbnail/3925542/96/"/>
    </div>
</body>

</html>

